# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
pokemon = pd.read_csv("/content/pokemon.csv")

Let's start off by looking at the `head` function in the cell below.

In [ ]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
total_count = pokemon.shape[0]
regular_poke = pokemon[pokemon["Legendary"] == False].shape[0]
legend_poke = pokemon[pokemon["Legendary"] == True].shape[0]

print("There are",total_count,"pokemons,",regular_poke,"are regular and",legend_poke,"are legendary")

There are 800 pokemons, 735 are regular and 65 are legendary

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# I always read "legendary" like Barney Stinson :D

total_pts_mean_leg = pokemon[pokemon["Legendary"] == True]["Total"].mean()
total_pts_std_leg = pokemon[pokemon["Legendary"] == True]["Total"].std()

total_pts_mean_reg = pokemon[pokemon["Legendary"] == False]["Total"].mean()
total_pts_std_reg = pokemon[pokemon["Legendary"] == False]["Total"].std()

print("For legendary pokemons, the mean of total points is",total_pts_mean_leg,"and standard deviation is",total_pts_std_leg)
print("For regular pokemons, the mean of total points is",total_pts_mean_reg,"and standard deviation is",total_pts_std_reg)

For legendary pokemons, the mean of total points is 637.3846153846154 and standard deviation is 60.93738905315344
For regular pokemons, the mean of total points is 417.21360544217686 and standard deviation is 106.76041745713005

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [8]:
# A/B testing

# H0: mu legendary = mu regular
# H1: mu legendary != mu regular

legendary = pokemon[pokemon["Legendary"] == True]["Total"]
regular = pokemon[pokemon["Legendary"] == False]["Total"]

p_value = st.ttest_ind(legendary, regular, equal_var = False)[1]
p_value

9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [9]:
if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

# so if the p is low, the null has to go, so we can reject that total points mean from le-gen-daaaaaaary are equal to regular pokemons !
# Very apart, actually

We can reject the null hypothesis

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [ ]:
count_type_1 = pokemon["Type 1"].nunique()
type_1 = pokemon["Type 1"].value_counts()

print("We have a total of",count_type_1,"types of pokemon in 'Type 1', which are:\n")
type_1

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [ ]:
total_pts_mean_water = pokemon[pokemon["Type 1"] == "Water"]["Total"].mean()
total_pts_std_water = pokemon[pokemon["Type 1"] == "Water"]["Total"].std()

total_pts_mean_not_water = pokemon[pokemon["Type 1"] != "Water"]["Total"].mean()
total_pts_std_not_water = pokemon[pokemon["Type 1"] != "Water"]["Total"].std()

print("For 'Water' pokemons, the mean of total points is",total_pts_mean_water,"and standard deviation is",total_pts_std_water)
print("For all other types of pokemons, the mean of total points is",total_pts_mean_not_water,"and standard deviation is",total_pts_std_not_water)

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [ ]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

In [15]:
# H0: mu a = mu b
# H1: mu a != mu b

group_a = pokemon[pokemon["Type 1"] == "Water"]["Total"]
group_b = pokemon[pokemon["Type 1"] != "Water"]["Total"]

st.ttest_ind(group_a, group_b, equal_var = True)
p_value = st.ttest_ind(group_a, group_b, equal_var = True)[1]
p_value

0.6587140317488793

Write your conclusion below.

In [14]:
if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

# So if the p > than 0.05 we can not reject H0 --> mean of total points for water Pokemon to non-water Pokemons is equal.
# actually (not decisive) but the means weren't much apart.

I can not reject the null hypothesis

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

Describe the results of the test in the cell below.

In [16]:
# H0: mu defense == mu attack
# H1: mu defense != mu attack

print(st.ttest_rel(pokemon["Attack"], pokemon["Defense"]))

p_value = st.ttest_rel(pokemon["Attack"], pokemon["Defense"])[1]

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

### So if the p is low, the null has to go! We can reject the null hypothesis that "that the defense and attack scores are equal"
### the high/positive stats imply that attack scores are much higher than defense.

TtestResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05, df=799)
We can reject the null hypothesis

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [17]:
# H0: mu special defense == special attack
# H1: mu special defense != special attack

print(st.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"]))

TtestResult(statistic=0.853986188453353, pvalue=0.3933685997548122, df=799)

Describe the results of the test in the cell below.

In [18]:
p_value = st.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])[1]

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

### In this case we can not reject H0, so there is no significant difference between the mean of special defense and the mean of special attack.

I can not reject the null hypothesis

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [19]:
# H0: mu difference between defense and attack == 0
# H1: mu difference between defense and attack != 0

#differences = np.array(defense) - np.array(attack)
pokemon["difference_d_a"] = pokemon["Defense"] - pokemon["Attack"]

sample_d_a = pokemon["difference_d_a"].sample(30)

# Difference between defense and attack
stats = st.ttest_1samp(sample_d_a, 0)[0] # i think for default is the "not equal" for two sided, so don't need to put it
print("Stats value for difference between defense and attack is", stats)
p_value = st.ttest_1samp(sample_d_a, 0)[1]
print("p_value is for difference between defense and attack is", p_value)

if p_value > 0.05:
  print("I can not reject the null hypothesis")
else:
  print("We can reject the null hypothesis")

# not quite sure if we need more to complete de exercise :/ afraid i've missed the point.

Stats value for difference between defense and attack is -1.6451926925275717
p_value is for difference between defense and attack is 0.11072779895485974
I can not reject the null hypothesis

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: