# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st
from scipy.stats import ttest_ind

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [3]:
pokemon.head(3)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
legendary_count = pokemon[pokemon['Legendary'] == True].shape[0]
non_legendary_count = pokemon[pokemon['Legendary'] == False].shape[0]

print("Count of Legendary PokÃ©mon:", legendary_count)
print("Count of Non-Legendary PokÃ©mon:", non_legendary_count)

Count of Legendary PokÃ©mon: 65
Count of Non-Legendary PokÃ©mon: 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
legendary_mean = pokemon[pokemon['Legendary'] == True]['Total'].mean()
legendary_std = pokemon[pokemon['Legendary'] == True]['Total'].std()
non_legendary_mean = pokemon[pokemon['Legendary'] == False]['Total'].mean()
non_legendary_std = pokemon[pokemon['Legendary'] == False]['Total'].std()
print("Mean Legendary PokÃ©mon:", legendary_mean)
print("Standard Deviation Legendary PokÃ©mon:", legendary_std)
print()
print("Mean Non-Legendary PokÃ©mon:", non_legendary_mean)
print("Standard Deviation Non-Legendary PokÃ©mon:", non_legendary_std)

Mean Legendary PokÃ©mon: 637.3846153846154
Standard Deviation Legendary PokÃ©mon: 60.93738905315346

Mean Non-Legendary PokÃ©mon: 417.21360544217686
Standard Deviation Non-Legendary PokÃ©mon: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [10]:
legendary = pokemon[pokemon["Legendary"] == True]["Total"]
non_legendary = pokemon[pokemon["Legendary"] == False]["Total"]

t_statistic, p_value = ttest_ind(legendary, non_legendary, equal_var=False)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 25.8335743895517
P-value: 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [11]:
# Your conclusions here:

alpha = 0.05
if p_value < alpha:
    print("Null hypothesis is rejected: There is a significant difference in Total points between legendary and non-legendary PokÃ©mon.")
else:
    print("Null hypothesis cannot be rejected: There is no significant difference in Total points between legendary and non-legendary PokÃ©mon.")

Null hypothesis is rejected: There is a significant difference in Total points between legendary and non-legendary PokÃ©mon.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [15]:
type_1 = pokemon["Type 1"].value_counts()
type_1

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [22]:
water = pokemon[pokemon["Type 1"] == "Water"]["Total"].agg(["mean", "std"])

non_water = pokemon[pokemon["Type 1"] != "Water"]["Total"].agg(["mean", "std"])

print("Water Pokemon Results :",water)
print("Non water Pokemon Results:",non_water)

Water Pokemon Results : mean    430.455357
std     113.188266
Name: Total, dtype: float64
Non water Pokemon Results: mean    435.859012
std     121.091682
Name: Total, dtype: float64

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [27]:
t_statistic, p_value = st.ttest_ind(water, non_water, equal_var = True)
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.029775107326713606
P-value: 0.9789504845807167

Write your conclusion below.

In [28]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference.")
else:
    print("Fail to reject the null hypothesis: There is no statistically significant difference.")

Fail to reject the null hypothesis: There is no statistically significant difference.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [30]:
from scipy.stats import ttest_rel

t_statistic, p_value = ttest_rel(pokemon["Defense"], pokemon["Attack"])

print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [31]:
# Interpret the results
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference.")
else:
    print("Fail to reject the null hypothesis: There is no statistically significant difference.")


#The low value of the p make us a strong evidence that here is a statistically significant difference

Reject the null hypothesis: There is a statistically significant difference.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [32]:

t_statistic, p_value = st.ttest_rel(pokemon["Sp. Atk"], pokemon["Sp. Def"])
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 0.853986188453353
P-value: 0.3933685997548122

Describe the results of the test in the cell below.

In [33]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a statistically significant difference.")
else:
    print("Fail to reject the null hypothesis: There is no statistically significant difference.")

#With the value of p high it indicates that there is no statistically significant difference

Fail to reject the null hypothesis: There is no statistically significant difference.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [34]:
t_statistic, p_value = st.ttest_1samp(pokemon["Attack"] - pokemon["Defense"], 0)
print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: 4.325566393330478
P-value: 1.7140303479358558e-05

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [36]:
contingency_table = pd.crosstab(pokemon["Legendary"], pokemon["Type 1"] == "Water")

contingency_table

Type 1     False  True
Legendary
False        627    108
True          61      4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [38]:
from scipy.stats import chi2_contingency

chi2_stat, p_value, dof, expected = chi2_contingency(contingency_table)

print("Chi-Square Statistic:", chi2_stat)
print("P-value:", p_value)
print("Degrees of Freedom:", dof)
print("Expected Frequencies:", expected)

Chi-Square Statistic: 2.9429200762850503
P-value: 0.08625467249550949
Degrees of Freedom: 1
Expected Frequencies: [[632.1 102.9]
 [ 55.9   9.1]]

Based on a 95% confidence, should we reject the null hypothesis?

In [39]:
alpha = 0.05
if p_value < alpha:
    print("Reject the null hypothesis: There is a significant relationship.")
else:
    print("Fail to reject the null hypothesis: There is no significant relationship.")

Fail to reject the null hypothesis: There is no significant relationship.