# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [25]:
# import numpy and pandas
import pandas as pd
import numpy as np
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [16]:
# Run this code:
pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [17]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [18]:
# Your code here:
pokemon['Legendary'].value_counts() ## 65 legendary and 735 non legendary

False    735
True      65
Name: Legendary, dtype: int64

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [24]:
# Your code here:

legendary_mean = pokemon[pokemon["Legendary"] == True]["Total"].mean() ## mean legendary pokem.
legendary_std = pokemon[pokemon["Legendary"] == True]["Total"].std() ## std dev legendary pokem.

non_legendary_mean = pokemon[pokemon["Legendary"] == False]["Total"].mean() ## mean non legendary pokem.
non_legendary_std = pokemon[pokemon["Legendary"] == False]["Total"].std() ## std dev non legendary pokem.

print('for legendary pokemons the mean is %.2f and the standard deviation is %.2f' %(legendary_mean,legendary_std))
print('for non-legendary pokemons the mean is %.2f and the standard deviation is %.2f' %(non_legendary_mean,non_legendary_std))

for legendary pokemons the mean is 637.38 and the standard deviation is 60.94
for non-legendary pokemons the mean is 417.21 and the standard deviation is 106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [26]:
# Your code here:
non_legendary = pokemon[pokemon ['Legendary'] == False]['Total']  ##sample with non legendary pokemons
legendary = pokemon[pokemon ['Legendary'] == True]['Total']  ## sample with the legendary pokemons

st.ttest_ind(legendary, non_legendary, equal_var = False) ## see results

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
## p-value < 0.05, so we can confidently declare the null-hypothesis is rejected and the difference is significant.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [27]:
# Your code here:
pokemon ['Type 1'].value_counts() ## see each type 1 pokemons number

Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Rock         44
Electric     44
Ghost        32
Dragon       32
Ground       32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [28]:
# Your code here:
water_mean = pokemon[pokemon["Type 1"] == 'Water']["Total"].mean() ## mean water pokem.
water_std = pokemon[pokemon["Type 1"] == 'Water']["Total"].std() ## std dev water pokem.

non_water_mean = pokemon[pokemon["Type 1"] != 'Water']["Total"].mean() ## mean non water pokem.
non_water_std = pokemon[pokemon["Type 1"] != 'Water']["Total"].std() ## std dev non water pokem.

print('for water pokemons the mean is %.2f and the standard deviation is %.2f' %(water_mean,water_std))
print('for non-water pokemons the mean is %.2f and the standard deviation is %.2f' %(non_water_mean,non_water_std))

for water pokemons the mean is 430.46 and the standard deviation is 113.19
for non-water pokemons the mean is 435.86 and the standard deviation is 121.09

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [29]:
# Your code here:

water = pokemon[pokemon["Type 1"] == 'Water']["Total"]  ##sample with water pokemons
non_water = pokemon[pokemon["Type 1"] != 'Water']["Total"]  ## sample with no water pokemons

st.ttest_ind(water, non_water, equal_var = True) ## see results

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
## p-value > 0.05, we cannot reject the null-hypothesis and so we cannot say that the difference is significant

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [31]:
# Your code here:
pokemon_attack = pokemon["Attack"]

pokemon_defense = pokemon["Defense"]

#apply function for 2nd pair
print(st.ttest_rel(pokemon_attack, pokemon_defense))

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
## the p-value is <0.05 between attack and defense. We can confidently declare the null-hypothesis is rejected and the difference is significant between these features.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [32]:
# Your code here:
pokemon_sp_attack = pokemon["Sp. Atk"]

pokemon_sp_defense = pokemon["Sp. Def"]

#apply function for 2nd pair
print(st.ttest_rel(pokemon_sp_attack, pokemon_sp_defense))

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
## the p-value is >0.05 between sp.atk and sp.def. we cannot reject the null-hypothesis is these case and so we cannot say that the difference is significant.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [33]:
# Your code here:
    
pokemon_attack = pokemon["Attack"]

pokemon_defense = pokemon["Defense"]

# perform 1 sample ttest
st.ttest_1samp(pokemon_attack, popmean=pokemon_defense.mean())  
##the p-value is <0.05 between attack and defense. We can confidently declare the null-hypothesis is rejected and the difference is significant between the means.

Ttest_1sampResult(statistic=4.4954813919438585, pvalue=7.967950832362132e-06)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [39]:
# Your code here:

pokemon['water_status'] = ['True' if type == 'Water' else 'False' for type in pokemon["Type 1"]]

pokemon_table = pd.crosstab(pokemon["Legendary"], pokemon["water_status"])  ## first see the number of works with salary or hourly in which department

pokemon_table

water_status  False  True
Legendary
False           627   108
True             61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [41]:
# Your code here:
chi2, p, dof, ex = st.chi2_contingency(pokemon_table)

Based on a 95% confidence, should we reject the null hypothesis?

In [42]:
# Your answer here:
p ## our p value is >0.05 we cannot reject the null-hypothesis is these case and so we cannot say that the difference is significant.

0.08625467249550949