# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [19]:
# import numpy and pandas
import numpy as np
import pandas as pd
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
from scipy.stats import f_oneway

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
pokemon["legendary_count"] = pokemon.groupby("Legendary").cumcount()
#pokemon["legendary_count"]

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:


ds_pivot = pokemon.pivot(index='legendary_count', columns='Legendary', values='Total')
ds_pivot.columns = ['Legendary_'+str(x) for x in ds_pivot.columns.values]
#ds_pivot


# legendary: mean = 637.4 and std = 60.9
# non_legendary: mean = 417.2 and std = 106.8

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

ttest_ind(ds_pivot["Legendary_False"], ds_pivot["Legendary_True"], equal_var=False, nan_policy='omit')

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957464e-47)

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:
#I can conclude that by the p-value there are significant differences between the lengendary and non Legendary pokemons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
count = pokemon.groupby("Type 1", as_index=True).agg({"Type 1" : "count"})
count

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:

"""
What i need to do:
1) create a variable with the water values
2) create a variable that is the agg of the outher values
3) preform the analisys
"""

pokemon["type_count"] = pokemon.groupby("Type 1").cumcount()
ds_pivot1 = pokemon.pivot(index='type_count', columns='Type 1', values='Total')
ds_pivot1.columns = [str(x) for x in ds_pivot1.columns.values]

new = ds_pivot1.loc[:, ds_pivot1.columns != 'Water']
new

,Bug,Dark,Dragon,Electric,Fairy,Fighting,Fire,Flying,Ghost,Grass,Ground,Ice,Normal,Poison,Psychic,Rock,Steel
type_count,,,,,,,,,,,,,,,,,
0,195.0,525.0,300.0,320.0,323.0,305.0,309.0,580.0,310.0,318.0,300.0,455.0,251.0,288.0,310.0,300.0,510.0
1,205.0,405.0,420.0,485.0,483.0,455.0,405.0,580.0,405.0,405.0,450.0,580.0,349.0,438.0,400.0,390.0,610.0
2,395.0,430.0,600.0,325.0,218.0,305.0,534.0,245.0,500.0,525.0,265.0,250.0,479.0,275.0,500.0,495.0,465.0
3,195.0,330.0,490.0,465.0,245.0,405.0,634.0,535.0,600.0,625.0,405.0,450.0,579.0,365.0,590.0,385.0,380.0
4,205.0,500.0,590.0,330.0,405.0,505.0,634.0,NaN,435.0,320.0,320.0,330.0,253.0,505.0,328.0,355.0,480.0
5,395.0,600.0,300.0,480.0,300.0,455.0,299.0,NaN,295.0,395.0,425.0,305.0,413.0,273.0,483.0,495.0,330.0
6,495.0,220.0,420.0,490.0,450.0,455.0,505.0,NaN,455.0,490.0,345.0,300.0,262.0,365.0,460.0,355.0,430.0
7,285.0,420.0,600.0,525.0,545.0,210.0,350.0,NaN,555.0,300.0,485.0,480.0,442.0,505.0,680.0,495.0,530.0
8,405.0,380.0,700.0,580.0,303.0,455.0,555.0,NaN,295.0,390.0,430.0,580.0,270.0,245.0,780.0,515.0,630.0
9,305.0,480.0,600.0,205.0,371.0,237.0,410.0,NaN,455.0,490.0,330.0,290.0,435.0,455.0,780.0,615.0,300.0
10,450.0,465.0,700.0,280.0,552.0,474.0,500.0,NaN,348.0,325.0,500.0,410.0,290.0,325.0,600.0,410.0,420.0
11,500.0,565.0,600.0,365.0,341.0,280.0,495.0,NaN,498.0,520.0,290.0,530.0,440.0,500.0,320.0,300.0,600.0
12,500.0,505.0,700.0,510.0,462.0,410.0,525.0,NaN,495.0,435.0,340.0,580.0,352.0,340.0,470.0,410.0,700.0
13,600.0,510.0,680.0,610.0,341.0,510.0,580.0,NaN,485.0,318.0,520.0,525.0,310.0,490.0,525.0,600.0,580.0
14,265.0,600.0,780.0,360.0,480.0,285.0,309.0,NaN,525.0,405.0,300.0,530.0,460.0,535.0,336.0,700.0,600.0
15,390.0,281.0,300.0,580.0,525.0,525.0,405.0,NaN,680.0,525.0,500.0,480.0,385.0,302.0,405.0,375.0,300.0
16,250.0,446.0,410.0,295.0,680.0,625.0,534.0,NaN,680.0,490.0,670.0,305.0,450.0,467.0,680.0,440.0,500.0
17,390.0,348.0,600.0,475.0,NaN,305.0,250.0,NaN,303.0,250.0,770.0,395.0,490.0,458.0,600.0,440.0,680.0
18,390.0,488.0,700.0,575.0,NaN,405.0,410.0,NaN,483.0,340.0,330.0,535.0,590.0,329.0,198.0,355.0,300.0
19,290.0,330.0,320.0,405.0,NaN,505.0,365.0,NaN,275.0,460.0,525.0,305.0,490.0,479.0,278.0,495.0,440.0
20,465.0,510.0,410.0,405.0,NaN,465.0,580.0,NaN,370.0,180.0,535.0,485.0,288.0,330.0,518.0,355.0,520.0
21,500.0,340.0,540.0,263.0,NaN,465.0,680.0,NaN,520.0,425.0,510.0,485.0,325.0,500.0,618.0,495.0,580.0
22,600.0,490.0,485.0,363.0,NaN,350.0,310.0,NaN,309.0,310.0,328.0,304.0,395.0,300.0,330.0,580.0,325.0
23,505.0,370.0,680.0,523.0,NaN,510.0,405.0,NaN,474.0,405.0,508.0,514.0,540.0,490.0,470.0,350.0,448.0
24,500.0,510.0,680.0,405.0,NaN,348.0,530.0,NaN,335.0,530.0,292.0,NaN,215.0,329.0,425.0,495.0,520.0
25,600.0,300.0,660.0,535.0,NaN,495.0,630.0,NaN,335.0,630.0,351.0,NaN,415.0,474.0,260.0,350.0,520.0
26,195.0,420.0,700.0,540.0,NaN,500.0,305.0,NaN,335.0,220.0,519.0,NaN,262.0,320.0,600.0,495.0,470.0
27,205.0,600.0,700.0,440.0,NaN,NaN,460.0,NaN,335.0,340.0,471.0,NaN,442.0,494.0,600.0,290.0,NaN
28,395.0,288.0,300.0,520.0,NaN,NaN,560.0,NaN,494.0,480.0,303.0,NaN,210.0,NaN,600.0,525.0,NaN
29,205.0,482.0,452.0,520.0,NaN,NaN,470.0,NaN,494.0,295.0,483.0,NaN,360.0,NaN,600.0,280.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,488.0,NaN,NaN,NaN,NaN
83,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,445.0,NaN,NaN,NaN,NaN
84,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,545.0,NaN,NaN,NaN,NaN
85,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,300.0,NaN,NaN,NaN,NaN
86,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,470.0,NaN,NaN,NaN,NaN
87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,335.0,NaN,NaN,NaN,NaN
88,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.0,NaN,NaN,NaN,NaN
89,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,490.0,NaN,NaN,NaN,NaN
90,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,350.0,NaN,NaN,NaN,NaN
91,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,510.0,NaN,NaN,NaN,NaN
92,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0,NaN,NaN,NaN,NaN
93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,600.0,NaN,NaN,NaN,NaN
94,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,237.0,NaN,NaN,NaN,NaN
95,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,423.0,NaN,NaN,NaN,NaN
96,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.0,NaN,NaN,NaN,NaN
97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,472.0,NaN,NaN,NaN,NaN
98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
103,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
104,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
105,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
106,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
108,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
110,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
111,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

ttest_ind(ds_pivot1["Water"], ds_pivot1, equal_var=True, nan_policy='omit')[1]

masked_array(data=[3.85487817e-03, 5.03622889e-01, 2.13521665e-06,
                   5.13443326e-01, 5.63364340e-01, 5.57825959e-01,
                   1.44019156e-01, 3.52070445e-01, 6.86962903e-01,
                   5.81639254e-01, 7.61585793e-01, 9.05597831e-01,
                   7.04218826e-02, 1.77845234e-01, 2.36809706e-02,
                   2.43289924e-01, 2.01893049e-02, 1.00000000e+00],
             mask=False,
       fill_value=1e+20)

Write your conclusion below.

In [11]:
# Your conclusions here:

## Looking at the p-values we can see that there are significative differences between the groups when compared with the water.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [24]:
# Your code here:
#H0 is atack==defese "

from scipy.stats import ttest_rel
ttest_rel(pokemon["Defense"], pokemon["Attack"])

Describe the results of the test in the cell below.

In [12]:
# Your conclusions here:
## The p value is very small therefore the hypotesis is rejected.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [20]:
# Your code here:

ttest_rel(pokemon["Sp. Def"], pokemon["Sp. Atk"])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [14]:
# Your conclusions here:
# The p-value is > than 0.05 so there are no significant differences.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [27]:
# Your code here:
from scipy.stats import ttest_1samp, ttest_rel, ttest_ind
ttest_1samp(pokemon['Defense'] - pokemon['Attack'], 0)  == ttest_rel(pokemon["Defense"], pokemon["Attack"])

True

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [17]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [18]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [19]:
# Your answer here: