# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [42]:
# import numpy and pandas
import pandas as pd
import numpy as np
import os
from scipy.stats import ttest_ind, ttest_rel, ttest_1samp

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
os.getcwd()

'C:\\Users\\joana\\ironhack\\ironhack-labs\\modulo-2\\lab-two-sample-hyp-test\\your-code'

In [3]:
path = 'C:\\Users\\joana\\ironhack\\ironhack-labs\\modulo-2\\lab-two-sample-hyp-test'
os.chdir(path)

In [4]:
os.listdir()

['.git', '.gitignore', 'pokemon.csv', 'README.md', 'your-code']

In [5]:
# Run this code:

pokemon = pd.read_csv('pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [33]:
# Your code here:
pokemon.groupby('Legendary')['Name'].count()

Legendary
False    735
True      65
Name: Name, dtype: int64

In [7]:
pokemon[pokemon['Legendary']==False].shape[0]

735

In [8]:
pokemon[pokemon['Legendary']==True].shape[0]

65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:

pokemon.groupby('Legendary')['Total'].mean()

Legendary
False    417.213605
True     637.384615
Name: Total, dtype: float64

In [10]:
avg = pokemon.groupby('Legendary')['Total'].mean()
non_leg= avg[0]
leg = avg[1]

In [11]:
pokemon.groupby('Legendary')['Total'].std()

Legendary
False    106.760417
True      60.937389
Name: Total, dtype: float64

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [12]:
# Your code here:
#Null hyp: total points for legendary = total points for non-legendary

In [13]:
pokemon['Legendary'].dtype

dtype('bool')

In [14]:
total_leg = pokemon.loc[pokemon.Legendary == True, 'Total']
total_non_leg = pokemon.loc[pokemon.Legendary == False, 'Total']

In [16]:
total_non_leg

0      318
1      405
2      525
3      625
4      309
      ...
787    494
788    304
789    514
790    245
791    535
Name: Total, Length: 735, dtype: int64

In [15]:
total_leg

156    580
157    580
158    580
162    680
163    780
      ...
795    600
796    700
797    600
798    680
799    600
Name: Total, Length: 65, dtype: int64

In [44]:

ttest_ind(total_leg, total_non_leg, equal_var = False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957446e-47)

In [18]:
ttest_ind(pokemon[pokemon['Legendary']==False]['Total'], pokemon[pokemon['Legendary']==True]['Total'], equal_var=False)

Ttest_indResult(statistic=-25.8335743895517, pvalue=9.357954335957446e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
# if p value < signficance_level -> reject de null hyp
# p value = value=9.357954335957446e-47 -> is smaller than 5% therefore at 95% confidence level we reject the null hyp
#there is a difference between the groups

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [19]:
pd.DataFrame(pokemon['Type 1'].value_counts())

          Type 1
Water        112
Normal        98
Grass         70
Bug           69
Psychic       57
Fire          52
Electric      44
Rock          44
Dragon        32
Ground        32
Ghost         32
Dark          31
Poison        28
Steel         27
Fighting      27
Ice           24
Fairy         17
Flying         4

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [20]:
pokemon.groupby('Type 1')['Total'].mean()

Type 1
Bug         378.927536
Dark        445.741935
Dragon      550.531250
Electric    443.409091
Fairy       413.176471
Fighting    416.444444
Fire        458.076923
Flying      485.000000
Ghost       439.562500
Grass       421.142857
Ground      437.500000
Ice         433.458333
Normal      401.683673
Poison      399.142857
Psychic     475.947368
Rock        453.750000
Steel       487.703704
Water       430.455357
Name: Total, dtype: float64

In [25]:
avg_water = pokemon[pokemon['Type 1']=='Water']['Total'].mean()
avg_water

430.45535714285717

In [30]:
avg_others = pokemon[pokemon['Type 1']!='Water']['Total'].mean()
avg_others

435.85901162790697

In [27]:
pokemon.groupby('Type 1')['Total'].std()

Type 1
Bug         117.875223
Dark        109.126217
Dragon      146.267538
Electric    105.721952
Fairy       123.781680
Fighting    102.464378
Fire        109.760496
Flying      161.400124
Ghost       110.072685
Grass       106.650626
Ground      123.913081
Ice         108.281027
Normal      115.733038
Poison       92.358687
Psychic     139.026645
Rock        108.059227
Steel       115.420907
Water       113.188266
Name: Total, dtype: float64

In [29]:
std_water = pokemon[pokemon['Type 1']=='Water']['Total'].std()
std_water

113.18826606431458

In [31]:
std_others = pokemon[pokemon['Type 1']!='Water']['Total'].std()
std_others

121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [23]:
ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'], pokemon[pokemon['Type 1']!='Water']['Total'])

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
#H0: the two sample means are equal
#H1: the two sample means are not equal

# We have a p value of 0.658 , with a 95% confidence level we can't reject the null hipothesis
#We can't say they have diferent means

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [34]:
ttest_rel(pokemon['Attack'], pokemon['Defense'])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# H0: pokemon's defense score is equal to pokemon's attack score,
#H1: pokemon's defense score is different to pokemon's attack score

#With a significance of 5%, we can say that we reject our Null hipothesis and the attack score is different than the defense score

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [39]:
ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

Ttest_relResult(statistic=0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# H0: the two population means are equal
# H1: the two population means are not equal

# With a confidence level of 95% we can't reject the hipothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [43]:
difference = np.subtract(pokemon['Attack'],  pokemon['Defense'])
ttest_1samp(difference,0)

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
# H0 : Means are equal
# H1 : Mens are not equal

# With a confidence level of 95 %, we can reject the null hipothesis

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: