# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [2]:
# import numpy and pandas
import pandas as pd

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [34]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

Let's start off by looking at the `head` function in the cell below.

In [35]:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [52]:
legendary_count = pokemon[pokemon['Legendary'] == True].shape[0]
non_legendary_count = pokemon[pokemon['Legendary'] == False].shape[0]

print(legendary_count)
print(non_legendary_count)

65
735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [70]:
legendary_mean = pokemon[pokemon['Legendary'] == True]['Total'].mean()
legendary_std = pokemon[pokemon['Legendary'] == True]['Total'].std()

non_legendary_mean = pokemon[pokemon['Legendary'] == False]['Total'].mean()
non_legendary_std = pokemon[pokemon['Legendary'] == False]['Total'].std()

print("Legendary Pokemon:")
print("Mean:", legendary_mean)
print("Standard Deviation:", legendary_std)

print("\nNon-Legendary Pokemon:")
print("Mean:", non_legendary_mean)
print("Standard deviation:", non_legendary_std)

Legendary Pokemon:
Mean: 637.3846153846154
Standard Deviation: 60.93738905315346

Non-Legendary Pokemon:
Mean: 417.21360544217686
Standard deviation: 106.76041745713022

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [71]:
from scipy.stats import ttest_ind

legendary_data = pokemon[pokemon['Legendary'] == True]['Total']
non_legendary_data = pokemon[pokemon['Legendary'] == False]['Total']

t_statistic, p_value = ttest_ind(legendary_data, non_legendary_data, equal_var=False)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("The difference in means is statistically significant.")
else:
    print("The difference in means is not statistically significant.")

T-statistic: 25.8335743895517
P-value: 9.357954335957446e-47
The difference in means is statistically significant.

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Given the very low p-value, we can reject the null hypothesis.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [69]:
type_counts = pokemon['Type 1'].value_counts()

print("Count of each type of Pokémon:")
print(type_counts)

Count of each type of Pokémon:
Water       112
Normal       98
Grass        70
Bug          69
Psychic      57
Fire         52
Electric     44
Rock         44
Dragon       32
Ground       32
Ghost        32
Dark         31
Poison       28
Steel        27
Fighting     27
Ice          24
Fairy        17
Flying        4
Name: Type 1, dtype: int64

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [68]:
water_pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total']
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total']

water_mean = water_pokemon.mean()
water_std = water_pokemon.std()

other_mean = other_pokemon.mean()
other_std = other_pokemon.std()

print("Mean and Standard Deviation of water pokemon:")
print("Mean:", water_mean)
print("Standard Deviation:", water_std)

print("\nMean and Standard Deviation of other pokemon:")
print("Mean:", other_mean)
print("Standard Deviation:", other_std)

Mean and Standard Deviation of water pokemon:
Mean: 430.45535714285717
Standard Deviation: 113.18826606431458

Mean and Standard Deviation of other pokemon:
Mean: 435.85901162790697
Standard Deviation: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [66]:
from scipy.stats import ttest_ind

water_pokemon = pokemon[pokemon['Type 1'] == 'Water']['Total']
other_pokemon = pokemon[pokemon['Type 1'] != 'Water']['Total']


t_statistic, p_value = ttest_ind(water_pokemon, other_pokemon, equal_var=True)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("The means are significantly different.")
else:
    print("The means are not significantly different.")

T-statistic: -0.4418547448849676
P-value: 0.6587140317488793
The means are not significantly different.

Write your conclusion below.

In [ ]:
# The results of the hypothesis test suggest that the means of total points for water Pokemon and non-water Pokemon are not that different based on the given t-statistic and p-value.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [62]:
from scipy.stats import ttest_rel

t_statistic, p_value = ttest_rel(pokemon['Defense'], pokemon['Attack'])

print("T-statistic:", t_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("There is a statistically significant difference.")
else:
    print("There is no statistically significant difference.")

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05
There is a statistically significant difference.

Describe the results of the test in the cell below.

In [ ]:
# The result suggest that there is a significant difference between the defense and attack scores of the Pokemon. 
# The conclusion is that the defense and attack scores are not equal on average.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [60]:
from scipy.stats import ttest_rel

t_statistic, p_value = ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

print("T-statistic:", t_statistic)
print("P-value:", p_value)

T-statistic: -0.853986188453353
P-value: 0.3933685997548122

Describe the results of the test in the cell below.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [58]:
from scipy.stats import ttest_1samp

score_differences = pokemon['Defense'] - pokemon['Attack']

t_statistic, p_value = ttest_1samp(score_differences, popmean=0)

print("T-statistic:", t_statistic)
print("P-value:", p_value)

if p_value < 0.05:
    print("There is a difference.")
else:
    print("There is no difference.")

T-statistic: -4.325566393330478
P-value: 1.7140303479358558e-05
There is a difference.

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: