# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon[:3]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:

legend = pokemon[pokemon['Legendary']==True]
not_legend = pokemon[pokemon['Legendary']==False]

print('The legendary pokemon are', legend['Name'].count())
print('The non-legendary pokemon are', not_legend['Name'].count())

The legendary pokemon are 65
The non-legendary pokemon are 735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:

mean_leg = legend['Total'].mean()
std_leg = legend['Total'].std()

mean_no_leg = not_legend['Total'].mean()
std_no_leg = not_legend['Total'].std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

# Set hypotesis --> INDEPENDENT T-TEST TWO-TAILS

# H0: mean of Total points of legendary pokemons = mean of Total points of non-legendary pokemons
# H1: mean of Total points of legendary pokemons != mean of Total points of non-legendary pokemons

# 2. Significance level
alpha = 0.05

# 3. Sample
legend
not_legend

# 4-5. Stat and p-value
stat, p_value = st.ttest_ind(legend['Total'], not_legend['Total'], equal_var=False)
print('stat', stat)
print('p-value=', p_value)

# 6. Take the decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

stat 25.8335743895517
p-value= 9.357954335957446e-47
Reject the null hypothesis

What do you conclude from this test? Write your conclusions below.

In [7]:
# Your conclusions here:

# From the t-test of independent samples we conclude that the
# mean of Total points of legendary and non-legendary pokemons is different.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [8]:
# Your code here:
pokemon.groupby('Type 1').agg({'Name':'count'})

          Name
Type 1
Bug         69
Dark        31
Dragon      32
Electric    44
Fairy       17
Fighting    27
Fire        52
Flying       4
Ghost       32
Grass       70
Ground      32
Ice         24
Normal      98
Poison      28
Psychic     57
Rock        44
Steel       27
Water      112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [9]:
# Your code here:

water_mean = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()
water_std = pokemon[pokemon['Type 1'] == 'Water']['Total'].std(ddof=1)

no_water_mean = pokemon[pokemon['Type 1'] != 'Water']['Total'].mean()
no_water_std = pokemon[pokemon['Type 1'] != 'Water']['Total'].std(ddof=1)

print(water_mean)
print(water_std)
print(no_water_mean)
print(no_water_std)

435.85901162790697
113.18826606431458
435.85901162790697
121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [10]:
# Your code here:

# H0: water mean total points = non-water mean total points 
# H1: water mean total points != non-water mean total points 

# 2. Significance level
alpha = 0.05

# 3. Sample
water= pokemon[pokemon['Type 1'] == 'Water']
no_water =pokemon[pokemon['Type 1'] != 'Water']

# 4-5. Stat and p-value
stat, p_value = stat, p_value = st.ttest_ind(water['Total'], no_water['Total'], equal_var=True)
print('stat', stat)
print('p-value=', p_value)

# 6. Take the decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

stat -0.4418547448849676
p-value= 0.6587140317488793
Do not reject the null hypothesis

Write your conclusion below.

In [11]:
# Your conclusions here:

# From the t-test of independent samples we conclude that the
# mean of Total points of water pokemons does not differ significantly from the 
# mean of Total points of non-water pokemons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [12]:
# Your code here:
# H0: defense of each pokemon = attack of each pokemon 
# H1: defense of each pokemon != attack of each pokemon 

# 2. Significance level
alpha = 0.05

# 3. Sample
# pokemon[pokemon['Attack']]
# pokemon[pokemon['Defense']]

# 4-5. Stat and p-value
stat, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
print('stat', stat)
print('p-value=', p_value)

# 6. Take the decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

stat 4.325566393330478
p-value= 1.7140303479358558e-05
Reject the null hypothesis

Describe the results of the test in the cell below.

In [13]:
# Your conclusions here:

# From the t-test of matched samples we conclude that the
# mean of Attack and the Defense of each pokemon are significantly different.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [14]:
# Your code here:

# H0: special defense of each pokemon = special attack of each pokemon 
# H1: special defense of each pokemon != special attack of each pokemon 

# 2. Significance level
alpha = 0.05

# 3. Sample
# pokemon[pokemon['Sp. Atk']]
# pokemon[pokemon['Sp. Def']]

# 4-5. Stat and p-value
stat, p_value = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
print('stat', stat)
print('p-value=', p_value)

# 6. Take the decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

stat 0.853986188453353
p-value= 0.3933685997548122
Do not reject the null hypothesis

Describe the results of the test in the cell below.

In [15]:
# Your conclusions here:

# From the t-test of matched samples we conclude that the
# mean of the Special Attack and the Special Defense of each pokemon 
# are actually no significantly different, so we do not reject the null hypothesis.

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [16]:
# Your code here:

# H0: mean special defense - mean special attack  = 0
# H1: mean special defense - mean special attack  != 0

# 2. Significance level
alpha = 0.05

# 3. Sample
pokemon['Diff_Atk_Def'] = pokemon['Sp. Atk'] - pokemon['Sp. Def']
pokemon['Diff_Atk_Def'].mean()                        

# 4-5. Stat and p-value
stat, p_value = st.ttest_1samp(pokemon['Diff_Atk_Def'], 0)
print(stat)
print(p_value)

# 6. Take the decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

0.853986188453353
0.3933685997548122
Do not reject the null hypothesis

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [49]:
pokemon['is_Water'] = pokemon['Type 1'] == 'Water'
# pokemon

In [50]:
# Your code here:
ct = pd.crosstab(index=pokemon['is_Water'], columns=pokemon['Legendary'])
ct

Legendary  False  True
is_Water
False        627    61
True         108     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [54]:
# Your code here:

# H0: legendary and non-legendary is independent on being type water 
# H1: legendary and non-legendary is dependent on being type water 

# Significance level
alpha = 0.05

# Sample
ct

# Stats and p_value
stat, p_value, ddof, exp_values = st.chi2_contingency(ct)
print('stat =', stat)
print('p_value =', p_value)

stat = 2.9429200762850503
p_value = 0.08625467249550949

Based on a 95% confidence, should we reject the null hypothesis?

In [55]:
# Your answer here:
# Decision
if p_value < alpha:
    print('Reject the null hypothesis')
else:
    print('Do not reject the null hypothesis')

Do not reject the null hypothesis

In [56]:
print('Done')

Done