# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas

import numpy as np
import pandas as pd

import scipy.stats as st

import matplotlib.pyplot as plt
import seaborn as sns

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [2]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [3]:
# Your code here:

pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [4]:
# Your code here:
legendary = pokemon[pokemon['Legendary']==True]
regular = pokemon[pokemon['Legendary']==False]
print("#Legendary:{0} #Regular:{1}".format(legendary.shape[0],regular.shape[0]))

#Legendary:65 #Regular:735

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [5]:
# Your code here:
mean_legendary = legendary['Total'].mean()
std_legendary = legendary['Total'].std()

mean_regular = regular['Total'].mean()
std_regular = regular['Total'].std()

print("For Legendary:\n Mean:{0} Standart Deviation:{1}".format(round(mean_legendary,3),round(std_legendary,3)))
print("For Regular:\n Mean:{0} Standart Deviation:{1}".format(round(mean_regular,3),round(std_regular,3)))

For Legendary:
 Mean:637.385 Standart Deviation:60.937
For Regular:
 Mean:417.214 Standart Deviation:106.76

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [6]:
# Your code here:

group1 = legendary['Total']
group2 = regular['Total']


pValue, tStat = st.ttest_ind(group1,group2, equal_var = False)
print("P-Value:{0} T-Statistic:{1}".format(pValue,tStat))

P-Value:25.8335743895517 T-Statistic:9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:

# we can conclude that there isn't a significant difference between the two sample means because the p-value is very high.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [7]:
# Your code here:
type1 = pokemon.groupby('Type 1').agg({'Name':'count'}).reset_index()
type1

      Type 1  Name
0        Bug    69
1       Dark    31
2     Dragon    32
3   Electric    44
4      Fairy    17
5   Fighting    27
6       Fire    52
7     Flying     4
8      Ghost    32
9      Grass    70
10    Ground    32
11       Ice    24
12    Normal    98
13    Poison    28
14   Psychic    57
15      Rock    44
16     Steel    27
17     Water   112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [8]:
# Your code here:
type1['type_mean'] = type1['Name']/pokemon.shape[0]
type1['std'] = type1['type_mean'].std()
type1

      Type 1  Name  type_mean       std
0        Bug    69    0.08625  0.034877
1       Dark    31    0.03875  0.034877
2     Dragon    32    0.04000  0.034877
3   Electric    44    0.05500  0.034877
4      Fairy    17    0.02125  0.034877
5   Fighting    27    0.03375  0.034877
6       Fire    52    0.06500  0.034877
7     Flying     4    0.00500  0.034877
8      Ghost    32    0.04000  0.034877
9      Grass    70    0.08750  0.034877
10    Ground    32    0.04000  0.034877
11       Ice    24    0.03000  0.034877
12    Normal    98    0.12250  0.034877
13    Poison    28    0.03500  0.034877
14   Psychic    57    0.07125  0.034877
15      Rock    44    0.05500  0.034877
16     Steel    27    0.03375  0.034877
17     Water   112    0.14000  0.034877

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [9]:
# Your code here:

pokemon['water?'] = np.where((pokemon['Type 1']=='Water'),'Water','Non_water')

type_water = pokemon.groupby(['water?']).agg({'Name':'count'}).reset_index()
type_water['type_mean'] = type_water['Name']/pokemon.shape[0]
type_water['std'] = type_water['type_mean'].std()
type_water

      water?  Name  type_mean       std
0  Non_water   688       0.86  0.509117
1      Water   112       0.14  0.509117

In [10]:


pValue, tStat = st.ttest_ind_from_stats(mean1=type_water.iloc[1,2], std1=type_water.iloc[1,3], nobs1=type_water.iloc[1,1],mean2=type_water.iloc[0,2], std2=type_water.iloc[0,3], nobs2=type_water.iloc[0,1], equal_var = True)
print("P-Value:{0} \nT-Statistic:{1}".format(pValue,tStat))

P-Value:-13.879481258317979
T-Statistic:2.1522479816333853e-39

Write your conclusion below.

In [ ]:
# Your conclusions here:

# P-value is negative. So they don't have the same average (reject null hypthesis).

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [11]:
# Your code here:

pokemon.columns

Index(['#', 'Name', 'Type 1', 'Type 2', 'Total', 'HP', 'Attack', 'Defense',
       'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary', 'water?'],
      dtype='object')

In [12]:
tStat, pValue = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])
print("P-Value:{0} \nT-Statistic:{1}".format(pValue,tStat))

P-Value:1.7140303479358558e-05
T-Statistic:4.325566393330478

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:

# The p-value is less than 0.05 or 0.1, is statistically significant and indicates strong evidence for reject the null hypothesis.

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [13]:
# Your code here:

tStat, pValue = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])
print("P-Value:{0} \nT-Statistic:{1}".format(pValue,tStat))

P-Value:0.3933685997548122
T-Statistic:0.853986188453353

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
same conclusion

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [14]:
# Your code here:
    
pokemon['Def - Atk'] = pokemon['Defense']-pokemon['Attack']
tStat, pValue = st.ttest_1samp(pokemon['Def - Atk'],0)
print("P-Value:{0} \nT-Statistic:{1}".format(pValue,tStat))

P-Value:1.7140303479358558e-05
T-Statistic:-4.325566393330478

In [15]:
pokemon['S.Def - S.Atk'] = pokemon['Sp. Def']-pokemon['Sp. Atk']
tStat, pValue = st.ttest_1samp(pokemon['S.Def - S.Atk'],0) 
print("P-Value:{0} \nT-Statistic:{1}".format(pValue,tStat))

P-Value:0.3933685997548122
T-Statistic:-0.853986188453353

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [ ]:
# Your code here:

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [ ]:
# Your code here:

Based on a 95% confidence, should we reject the null hypothesis?

In [ ]:
# Your answer here: