# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [1]:
# import numpy and pandas
import pandas as pd
import numpy as np

# Setting the significance level
alpha = 0.05

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [5]:
# Run this code:
pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [6]:
# Your code here:
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [7]:
# Your code here:

pokemon.groupby('Legendary').agg({'Legendary':'count'})

           Legendary
Legendary
False            735
True              65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [9]:
# Your code here:

pokemon.groupby('Legendary').agg({'Total':['mean', 'std']})

                Total
                 mean         std
Legendary
False      417.213605  106.760417
True       637.384615   60.937389

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [15]:
# Your code here:
import scipy.stats as st

#H0: mu total points Legendary Pokemon = mu total points non-Legendary Pokemon
#H1: mu total points Legendary Pokemon != mu total points non-Legendary Pokemon

alpha

#Sample
total_leg = pokemon[pokemon['Legendary']==True]['Total']
total_nonleg = pokemon[pokemon['Legendary']==False]['Total']

stat, p_value = st.ttest_ind(total_leg, total_nonleg, equal_var=False)
print(stat, p_value)

25.8335743895517 9.357954335957446e-47

What do you conclude from this test? Write your conclusions below.

In [16]:
# Your conclusions here:

print(stat, p_value)
print(p_value < alpha)
print("We gathered enough evidence to say with a 95% confidence level that there is a statistically significant difference in the Total score between Legendary and Non-Legendary Pokémons.")

25.8335743895517 9.357954335957446e-47
True
We gathered enough evidence to say with a 95% confidence level that there is a statistically significant difference in the Total score between Legendary and Non-Legendary Pokémons.

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [17]:
# Your code here:

pokemon.groupby('Type 1').agg({'Type 1':'count'})

          Type 1
Type 1
Bug           69
Dark          31
Dragon        32
Electric      44
Fairy         17
Fighting      27
Fire          52
Flying         4
Ghost         32
Grass         70
Ground        32
Ice           24
Normal        98
Poison        28
Psychic       57
Rock          44
Steel         27
Water        112

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [24]:
# Your code here:

water_total = pokemon[pokemon['Type 1']=='Water']['Total']
nowater_total = pokemon[pokemon['Type 1']!='Water']['Total']

print(f'Water type Pokemon, Total score:\nMean: {water_total.mean()}\nSTD: {water_total.std()}\n')
print(f'Non-Water type Pokemon, Total score:\nMean: {nowater_total.mean()}\nSTD: {nowater_total.std()}')

Water type Pokemon, Total score:
Mean: 430.45535714285717
STD: 113.18826606431458

Non-Water type Pokemon, Total score:
Mean: 435.85901162790697
STD: 121.09168230208066

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [25]:
# Your code here:

#H0: mu total score water type pokemon = mu total score non-water type pokemon
#H1: mu total score water type pokemon != mu total score non-water type pokemon

alpha

#Samples
water_total
nowater_total

stat, p_value = st.ttest_ind(water_total, nowater_total, equal_var=False)
print(stat, p_value)

-0.4638681676327303 0.6433915385821449

Write your conclusion below.

In [27]:
# Your conclusions here:

print(stat, p_value)
print(p_value < alpha)
print("With a 95% confidence level, we can say that there isn't a statistically significant difference in the Total score between Water type and Non-Water type Pokémons.")

-0.4638681676327303 0.6433915385821449
False
With a 95% confidence level, we can say that there isn't a statistically significant difference in the Total score between Water type and Non-Water type Pokémons.

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [32]:
# Your code here:

#H0: mu defense score = mu attack score
#H1: mu defense score != mu attack score

alpha

#Samples
pokemon['Attack']
pokemon['Defense']

stat, p_value = st.ttest_rel(pokemon['Attack'], pokemon['Defense'])

print(stat, p_value)

4.325566393330478 1.7140303479358558e-05

Describe the results of the test in the cell below.

In [34]:
# Your conclusions here:

print(stat, p_value)
print(p_value < alpha)
print('It seems to be a statistically significant difference between the Attack and the Defense of the Pokémons')

4.325566393330478 1.7140303479358558e-05
True
It seems to be a statistically significant difference between the Attack and the Defense of the Pokémons

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [36]:
# Your code here:

#H0: mu sp. defense score = mu sp. attack score
#H1: mu sp. defense score != mu sp. attack score

alpha

#Samples
pokemon['Sp. Atk']
pokemon['Sp. Def']

stat, p_value = st.ttest_rel(pokemon['Sp. Atk'], pokemon['Sp. Def'])

print(stat, p_value)

0.853986188453353 0.3933685997548122

Describe the results of the test in the cell below.

In [38]:
# Your conclusions here:

print(stat, p_value)
print(p_value < alpha)
print("Seems that there isn't a statistically significant difference between the Special Attack and the Special Defense of the Pokémons")

0.853986188453353 0.3933685997548122
False
Seems that there isn't a statistically significant difference between the Special Attack and the Special Defense of the Pokémons

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [41]:
# Your code here:

#H0: mu diff defense-attack = 0
#H1: mu diff defense-attack != 0

alpha

#Sample
diff_defatk = pokemon['Defense'] - pokemon['Attack']

st.ttest_1samp(diff_defatk, 0)

print(stat, p_value)
print(p_value < alpha)
print("The results are the same as the Matched Pairs Test")

0.853986188453353 0.3933685997548122
False
The results are the same as the Matched Pairs Test

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [46]:
# Your code here:

legend_water = pd.crosstab(pokemon['Legendary'], pokemon['Type 1'] == 'Water', colnames=['Is Water'])
legend_water

Is Water   False  True
Legendary
False        627   108
True          61     4

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [49]:
# Your code here:

#H0: Being Legendary is INDEPENDENT of being Water type
#H1: Being Legendary is DEPENDENT of being Water type

st.chi2_contingency(legend_water)

(2.9429200762850503,
 0.08625467249550949,
 1,
 array([[632.1, 102.9],
        [ 55.9,   9.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [53]:
# Your answer here:
 
print(st.chi2_contingency(legend_water)[1] < alpha)
print("We don't have enough evidence to reject the null. Seems that both variables are independent from each other, with a confidence of 95%.")

False
We don't have enough evidence to reject the null. Seems that both variables are independent from each other, with a confidence of 95%.