# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

- **Consider a significance level of 5% for all tests.**

In [19]:
# import numpy and pandas
import numpy as np
import pandas as pd
import scipy.stats as st

# Challenge 1 - Independent Sample T-tests

In this challenge, we will be using the Pokemon dataset. Before applying statistical methods to this data, let's first examine the data.

To load the data, run the code below.

In [3]:
# Run this code:

pokemon = pd.read_csv('../pokemon.csv')

Let's start off by looking at the `head` function in the cell below.

In [13]:
# Your code here:
pokemon.head()
#pokemon.shape

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

The first thing we would like to do is compare the legendary Pokemon to the regular Pokemon. To do this, we should examine the data further. What is the count of legendary vs. non legendary Pokemons?

In [9]:
# Your code here:
regular=len(pokemon[pokemon['Legendary'] == False])
legendary=len(pokemon[pokemon['Legendary'] == True])
print(regular, legendary)

735 65

Compute the mean and standard deviation of the total points for both legendary and non-legendary Pokemon.

In [18]:
# Your code here:
pokemon_leg= pokemon[pokemon['Legendary'] == True]
pokemon_reg = pokemon[pokemon['Legendary'] == False]

leg_mean = pokemon_leg['Total'].mean()
reg_mean = pokemon_reg['Total'].mean()

leg_std = pokemon_leg['Total'].std()
reg_std = pokemon_reg['Total'].std()

The computation of the mean might give us a clue regarding how the statistical test may turn out; However, it certainly does not prove whether there is a significant difference between the two groups.

In the cell below, use the `ttest_ind` function in `scipy.stats` to compare the the total points for legendary and non-legendary Pokemon. Since we do not have any information about the population, assume the variances are not equal.

In [20]:
# Your code here:
st.ttest_ind(pokemon_leg['Total'], pokemon_reg['Total'], equal_var=False)

Ttest_indResult(statistic=25.8335743895517, pvalue=9.357954335957444e-47)

What do you conclude from this test? Write your conclusions below.

In [ ]:
# Your conclusions here:
#H0 : Total for regular pokemon = Total for regular pokemon
#H1 : Total for regular pokemon != Total for regular pokemon

#With a pvalue of 9.35e-47 we can reject the null hypothesis
#Total's variable are different for reg and legend pokemons

How about we try to compare the different types of pokemon? In the cell below, list the types of Pokemon from column `Type 1` and the count of each type.

In [23]:
# Your code here:
display(pokemon['Type 1'].unique())
len(pokemon['Type 1'].unique())

array(['Grass', 'Fire', 'Water', 'Bug', 'Normal', 'Poison', 'Electric',
       'Ground', 'Fairy', 'Fighting', 'Psychic', 'Rock', 'Ghost', 'Ice',
       'Dragon', 'Dark', 'Steel', 'Flying'], dtype=object)

18

Since water is the largest group of Pokemon, compare the mean and standard deviation of water Pokemon to all other Pokemon.

In [27]:
# Your code here:
display(pokemon[pokemon['Type 1']=='Water']['Total'].mean())
display(pokemon[pokemon['Type 1']=='Water']['Total'].std())
display(pokemon[pokemon['Type 1']!='Water']['Total'].mean())
display(pokemon[pokemon['Type 1']!='Water']['Total'].std())

#Very similar, I am already guessing a high p value

430.45535714285717

113.1882660643146

435.85901162790697

121.0916823020807

Perform a hypothesis test comparing the mean of total points for water Pokemon to all non-water Pokemon. Assume the variances are equal.

In [24]:
# Your code here:
st.ttest_ind(pokemon[pokemon['Type 1']=='Water']['Total'], pokemon[pokemon['Type 1']!='Water']['Total'], equal_var=True)

#H0 : Total for water pokemon = Total for non water pokemon
#H1 : Total for water pokemon != Total for non water pokemon

Ttest_indResult(statistic=-0.4418547448849676, pvalue=0.6587140317488793)

Write your conclusion below.

In [ ]:
# Your conclusions here:
#We can not reject the null hypothesis since our pvalue is large

# Challenge 2 - Matched Pairs Test

In this challenge we will compare dependent samples of data describing our Pokemon. Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. Our hypothesis is that the defense and attack scores are equal. In the cell below, import the `ttest_rel` function from `scipy.stats` and compare the two columns to see if there is a statistically significant difference between them.

In [31]:
# Your code here:
#H0:defense and attack scores are equal.
#H1:defense and attack scores are not equal.
from scipy.stats import ttest_rel
ttest_rel(pokemon['Defense'], pokemon['Attack'])

Ttest_relResult(statistic=-4.325566393330478, pvalue=1.7140303479358558e-05)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#Our pvalue is small therefore we can reject the null hypothesis
#defense and attack scores are not equal

We are also curious about whether therer is a significant difference between the mean of special defense and the mean of special attack. Perform the hypothesis test in the cell below.

In [32]:
# Your code here:
#H0:sp defense and sp attack scores are equal.
#H1:sp defense and sp attack scores are not equal.
ttest_rel(pokemon['Sp. Def'], pokemon['Sp. Atk'])

Ttest_relResult(statistic=-0.853986188453353, pvalue=0.3933685997548122)

Describe the results of the test in the cell below.

In [ ]:
# Your conclusions here:
#H0:sp defense and sp attack scores are equal.
#We can not reject the null hyp since pvalue is large

As you may recall, a two sample matched pairs test can also be expressed as a one sample test of the difference between the two dependent columns.

Import the `ttest_1samp` function and perform a one sample t-test of the difference between defense and attack. Test the hypothesis that the difference between the means is zero. Confirm that the results of the test are the same.

In [33]:
# Your code here:
from scipy.stats import ttest_1samp
#H0: the difference between the means is zero
#H1: the difference between the means is different than zero

ttest_1samp(pokemon['Attack'] - pokemon['Defense'], 0)

#We reject the null hypothesis with a small pvalue the difference between the means is dif than 0

Ttest_1sampResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

# Bonus Challenge - The Chi-Square Test

The Chi-Square test is used to determine whether there is a statistically significant difference in frequencies. In other words, we are testing whether there is a relationship between categorical variables or rather when the variables are independent. This test is an alternative to Fisher's exact test and is used in scenarios where sample sizes are larger. However, with a large enough sample size, both tests produce similar results. Read more about the Chi Squared test [here](https://en.wikipedia.org/wiki/Chi-squared_test).

In the cell below, create a contingency table using `pd.crosstab` comparing whether a Pokemon is legenadary or not and whether the Type 1 of a Pokemon is water or not.

In [63]:
# Your code here:
#table = pd.crosstab()

data = [['Legendary', len(pokemon[(pokemon['Legendary']==True)&(pokemon['Type 1']=='Water')]),len(pokemon[(pokemon['Legendary']==True)&(pokemon['Type 1']!='Water')])],
        ['Not Legendary', len(pokemon[(pokemon['Legendary']==False)&(pokemon['Type 1']=='Water')]),len(pokemon[(pokemon['Legendary']==False)&(pokemon['Type 1']!='Water')])]] 
  
# Create the pandas DataFrame 
df = pd.DataFrame(data, columns = ['Legendary?','type1 Water','Not type1 Water']) 

df

#We can do this with cross tab but I can't remember

      Legendary?  type1 Water  Not type1 Water
0      Legendary            4               61
1  Not Legendary          108              627

Perform a chi-squared test using the `chi2_contingency` function in `scipy.stats`. You can read the documentation of the function [here](https://docs.scipy.org/doc/scipy-0.15.1/reference/generated/scipy.stats.chi2_contingency.html).

In [65]:
# Your code here:
from scipy.stats import chi2_contingency
df=df.set_index('Legendary?')
chi2_contingency(np.array(df))

(2.94292007628505,
 0.08625467249550997,
 1,
 array([[  9.1,  55.9],
        [102.9, 632.1]]))

Based on a 95% confidence, should we reject the null hypothesis?

In [67]:
# Your answer here:
#We got a p value of 0.0862 so with a 95% confidence we can not confirm that they are dependent variables, we do not reject the null hypothesis